@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#react-root, article, div, footer, header, main, nav, section {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, button, input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 18px;
}

input {
  background-color: white;
  user-select: text;
  cursor: auto;
}

ul {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}



a, abbr, acronym, address, applet, article, aside, audio, 
b, big, blockquote, body, canvas, caption, center, cite, code, 
dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, 
figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, 
iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, 
output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, 
sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, 
ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

li {
  padding-right: 12px;
}


a, a:visited {
  color: #003569;
  text-decoration: none;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: height 0.2s ease-in-out;
  height: 77px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.navbar-inner {
  height: 77px;
  padding: 26px 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  align-items: center;
  max-width: 1010px;
  transition: height .2s ease-in-out;
  width: 100%;
  flex-shrink: 0;
}

.nav-wrap {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: height .2s ease-in-out;
  height: 77px;
}

.navbar-left {
  margin-right: 12px;
  margin-top: -4px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  align-self: center;
  flex-grow: 1;
}

.navbar-center {
  flex: 0 1 auto;
  min-width: 125px;
  width: 215px;
  height: 28px;
  align-self: center;
  flex-grow: 2;
}

.navbar-right {
  align-content: center;
  align-items: center;
  align-self: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-box-pack: end;
  justify-content: flex-end;
  flex-grow: 1;

}

.menu {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 24px;
  white-space: nowrap;
  justify-content: space-around;
}

.searchbox {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 14px;
  outline: none;
  padding: 3px 10px 3px 26px;
  z-index: 2;
  height: 100%;
  width: 60%;
}

.main {
  background-color: #fafafa;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 5;
  order: 4;
}

.content {
  -webkit-box-align: stretch;
  top: 100px;
  align-items: stretch;
  border: 0 solid #000;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  width: 100%;
}

.main-header {
  display: flex;
  margin-bottom: 44px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  position: relative;
}

div.header-left {
  flex-shrink: 0;
}

.profile-pic-container {
  background-color: #fafafa;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.profile-image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

section.header-right {
  color: #262626;
  flex-shrink: 1;
  min-width: 0;
}

div.top-row {
  display: flex;
  flex-shrink: 1;
  min-width: 0;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

ul.stats {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin-bottom: 20px;
}

div.bottom-row {
  display: block;
  text-align: left;
}

.username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gallery-row {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.gallery-card {
  display: block;
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 0 0%;
}

.gallery-image-wrapper {
  background-color: #efefef;
  display: block;
  width: 100%;
}

.gallery-image-slot {
  display: block;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  user-select: none;
}

.gallery-stat {
  background-color: rgba(0,0,0,.3);
  bottom: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 0;
  left: 0;
  position: absolute;
  top: 0;
}

.gallery-stat-list {
  color: #fff;
  display: flex;
  font-size: 16px;
  font-weight: 600;
}

.gallery-stat-list-item {
  line-height: 19px;
  margin: 0 auto;
  padding-left: 26px;
  position: relative;
  display: table;
}

.footer {
  background-color: #fafafa;
  -webkit-box-ordinal-group: 6;
  order: 5;
  padding: 0 20px;
}

.footer-content {
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
  max-width: 935px;
}

ul.footer-list {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-bottom: 3px;
}

li.footer-list-item {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 16px;
}

span.trademark {
  color: #999;
}

@media (min-width: 736px) {
  content {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 60px 20px 0;
    width: calc(100%-40px);
  }

  div.header-left {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-right: 30px;
  }

  section.header-right {
    flex-basis: 30px;
    -webkit-box-flex: 2;
    flex-grow: 2;
  }

  .profile-pic-container {
    height: 152px;
    width: 152px;
  }

  .top-row {
    margin-bottom: 20px;
  }

  .username {
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
  }

  .bottom-row {
    font-size: 16px;
    line-height: 24px;
  }

  .gallery-row {
    margin-bottom: 28px;
  }

  .gallery-card {
    margin-right: 28px;
  }

  .gallery-stat-list-item {
    margin-right: 30px;
  }
}


@media (min-width: 876px) {
  .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 38px 0;
  }

  .footer-nav {
    max-width: 100%;
  }

  ul.footer-list {
    margin-right: 16px;
  }
}

.icon {
  background-repeat: no-repeat;
}

.home-icon {
  background-position: -177px 0;
  height: 35px;
  width: 176px;
}

.instagram-icon {
  background-position: -312px -286px;
  background-size: 395px 371px;
  height: 30px;
  width: 30px;
}

.explore-icon {
  background-position: -387px -104px;
  background-size: 395px 371px;
  height: 24px;
  width: 24px;
}

.heart-icon {
  background-position: -125px -347px;
  background-size: 395px 371px;
  height: 24px;
  width: 24px;
}

.profile-icon {
  background-position: -287px -179px;
  background-size: 395px 371px;
  height: 24px;
  width: 24px;
}

.comment-icon {
  background-position: -353px -176px;
  background-size: 395px 371px;
  height: 24px;
  width: 24px;
}

